<!-- PAGEDOC
@author Mabongpapa
@page [A] 헤딩(제목)
@param {string} [text=""] 제목명
@param {"xxs","xs","sm","nm","lg","xl","xxl"} [size="nm"] 제목의 크기
-->
<%
    let {text,useMore} = Object.assign({
        text:null,
        useMore:false
    },locals); // 객체분해 할당
%>
<div class="a-heading">
    <h1><%=text %></h1>
    <a href="#" class="a-heading__more">더보기</a>
</div>