<% 
    const {name} = locals;
%>
<a href="#" class="a-serviceBtn">
    <picture>
        <source srcset="https://cdn.pixabay.com/photo/2023/10/17/03/23/child-8320341_1280.png" media="all and (min-width: 800px)"><!-- 가로 800px 이상의 경우 -->
        <img src="https://img.publichs.com/ECMCFO/share/admin/display/connerbanner/202401/4548320240111111725.png" alt="" /> <!-- 기본 이미지 -->
    </picture>
    <p><%=name %></p>
    <div class="balloon">혜택은길게</div>
</a>