<!-- PAGEDOC
@since 2025.01.08
@author mabongpapa
@page [C] UIKIT > Component > 스크롤 커버애니메이션(GSAP)
-->
<div class="c-posterScrollAnimation">
    <include src="../../../uikit/module/poster/coverPoster.ejs"></include>
</div>
<script>
    posterScrollAnimation();
</script>